.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.login_form .btn_group {
    display: flex;
    justify-content: right;
}

.login_form .btn_group .btn {
    margin-left: 10px;
}

.room_card {
    cursor: pointer;
}

.room_non-avaliable {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

.check-list-item {
    display: flex;
    justify-content: space-between;
}